body {
    text-align: center;
}

b,
button {
    display: inline-block;
    background: none;
    color: inherit;
    border: none;
    padding: 2px;
    cursor: pointer;
}

img {
    width: 20px;
}

p {
    line-height: 0.5em;
}

b {
    margin-bottom: 0.5em;
}