body {
    text-align: center;
}

b,
button {
    display: inline-block;
    background: none;
    color: inherit;
    border: none;
    padding: 2px;
    cursor: pointer;
}

img {
    width: 25px;
}

p {
    line-height: 0.5em;
}

b {
    margin-bottom: 0.5em;
}

.form-control {
    text-align: center;
    max-width: 80vh;
}

input[type=text],
input[type=number]{
    width: 60%;
    padding: 5px 12px;
    margin: 10px 5px;
}